<a id="cartdetails" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" href="{{ path('cart') }}">
        <i class="fas fa-shopping-cart"></i>
</a>        
<div aria-labelledby="cartdetails" class="dropdown-menu dropdown-menu-left p-4" style="margin-top:13px!important;">
    <div class="navbar-cart-product-wrapper">
        {% set total = null %}
        {% for item in cart.full %}
        
        <div class="navbar-cart-product">
            <div class="w-100">
                <div class="row">   
                    <div class="col-md-12">
                        <a href="{{ path('product', { 'slug' : item.product.slug } ) }}" class="navbar-cart-product-link"></br>
                        </a>    
                    </div>
                    <div class="col-md-6 my-auto">
                        <img src="/uploads/{{ item.product.illustration }}" alt="{{ item.product.name }}" height="75px">
                    </div>
                    <div class="col-md-6">
                        {% for element in cart.full %}
                            <small 
                                class="d-block text-sm">Taille : <strong>{{ item.product.size.name }}</strong>
                            </small>
                        {% endfor %}                                            
                        <small 
                            class="d-block text-sm">Prix unité : <strong>{{ (item.product.price / 100)|number_format(2, ',','.') }} € </strong>
                        </small>
                        <small
                            class="d-block text-muted">Quantité :  <strong>{{ item.quantity }} </strong>
                            <a href="{{ path('delete_to_cart', {'id' : item.product.id }) }}"></br>
                                <img src="{{ asset('assets/img/delete.png') }}" height="12px" alt="Supprimer mon produit">
                            </a>
                            <a href="{{ path('decrease_to_cart', {'id' : item.product.id }) }}">
                                <img src="{{ asset('assets/img/less.png') }}" height="8px" alt="Retirer un produit">
                            </a>
                            <a href="{{ path('increase_to_cart', {'id' : item.product.id }) }}">
                                <img src="{{ asset('assets/img/more.png') }}" height="8px" alt="Ajouter un produit">
                            </a>
                        </small>
                        <small >
                            Prix total :  <strong>{{ ((item.product.price * item.quantity) / 100)|number_format(2, ',','.') }} € </strong>
                        </small>
                    </div>
                </div></br>
            </div>
        </div>
        {% set total = total + (item.product.price * item.quantity) %}
        {% endfor %}

        <div class="navbar-cart-total">
            <span class="text-uppercase text-muted btn btn-outline-test">Total commande : </br><strong class="text-uppercase">{{ (total / 100)|number_format(2, ',','.') }} € </span></strong>
        </div>

        <div class="d-flex justify-content-between lien-panier">
            <a href="{{ path('cart') }}" class="mr-3 btn btn-outline-dark"><small>Voir le panier </small><i class="fa-arrow-right fa"></i></a>
            <a href="{{ path('order') }}" class="btn btn-outline-dark"><small>Commander</small></a>
        </div>
    </div>