    <section class="slider" id-"slider">
      <div class="container">
        <h3 class="text-center">Nouveautés</h3>
        <p class="text-center">Découvrez nos derniers articles</p>
        <ul id="autoWidth" class="cs-hidden">
        {% for item in products %}
            <li class="item-a">
              <!-- box-slider -->
                <div class="box">
                  <!-- img-box -->
                  <div class="slide-img">
                    <img src="/uploads/{{ item.image }}" alt="produits isBest"/>
                    <!-- overlayer -->
                      <div class="overlay">
                        <!-- buy-btn -->
                        <a href="{{ path('produit', { 'slug' : item.slug } ) }}" class="buy-btn">Voir</a>
                      </div>
                  </div>
                  <!-- detail-box -->
                  <div class="detail-box">
                    <!-- type -->
                    <div class="type">
                      <p href="{{ path('produit', { 'slug' : item.slug } ) }}">{{ item.name }}</p>
                      <span>{{ (item.price / 100)|number_format(2, ',','.') }} €</span>
                    </div>                    
                    {# {% if item.stock == cart[0]["quantity"] %}
                        <a class="buy-btn">Max</a>
                    {% elseif item.stock < 1 %}
                      <a class="buy-btn">Bientôt de retour</a>
                    {% elseif item.stock > 1 %}
                      <a href="{{ path('add_to_cart', {'id' : item.id } ) }}" class="buy-btn">Voir</a>
                    {% endif %} #}
                    <a href="{{ path('produit', { 'slug' : item.slug } ) }}" class="buy-btn">Voir</a>
                  </div>
                </div>
            </li>{# {{ dump(cart[0]["quantity"]) }} #}
          {% endfor %}
        </ul>
      </div>
    </section>